@model IEnumerable<AirTiquiciaTry.Models.AeropuertosModel>

    <h2 class="mb-3">Lista de Aeropuertos de AirTiquicia</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod_iata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_aeropuerto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_iata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_aeropuerto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cod_pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_pais)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarAeropuerto", new {cod=@item.cod_iata}) |
                @Html.ActionLink("Detalles", "DetallesAeropuerto", new {cod=@item.cod_iata}) |
                @Html.ActionLink("Eliminar", "DeleteAeropuerto", new {cod=@item.cod_iata})
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="AgregarAeropuerto" asp-controller="Admin" class="btn btn-success">Agregar Aeropuerto</a>
    <a asp-action="Index" class="btn btn-primary">Regresar</a>
</p>