@model IEnumerable<AirTiquiciaTry.Models.VuelosModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_vuelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.es_directo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.origen_iata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.origen_iata_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.origen_pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destino_iata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destino_iata_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destino_pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_economica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_primera)
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_vuelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.es_directo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.origen_iata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.origen_iata_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.origen_pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destino_iata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destino_iata_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destino_pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracion)
            </td>
            <td>
                $@item.precio_economica
            </td>
            <td>
                $@item.precio_primera
            </td>
            <td>
                @Html.ActionLink("Seleccionar Vuelo", "Reservar", new {id_vuelo=item.id_vuelo}, new {@class = "btn btn-success"})
            </td>
        </tr>
}
    </tbody>
</table>

<a class="btn btn-danger" asp-action="BuscarVueloSencillo">Cancelar</a>
